

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  /*width: 615px;*/
  width: 800px;
}

/*48em*/

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

